# ===============================
# R / RStudio
# ===============================

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R markdown cache directories
*_cache/
cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ===============================
# Project-specific ignores
# ===============================

# TCGA downloaded data
GDCdata/


# Cached intermediate objects
cache/

# Binary R objects (usually large / non-portable)
*.rds
*.RDS
*.rda
*.RData

# Logs
logs/
*.log

# Outputs (figures/tables created by pipeline)
results/